body {
  font-family: "Ubuntu",sans-serif;
  background-color: rgb(255, 255, 255);
}

 body::after {
     background: url("/img/blueish.png");
     background-size: 100% 100%;
     content: "";
     filter: brightness(1.9);
     filter: contrast(1.6);
     filter: blur(5px);
     opacity: 0.4;
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     z-index: -1;
 }

main {
    margin-bottom: 20em;
    color: #3C3D3E;
    font-family: "Ubuntu",sans-serif;
}

.reports-table {
    width: 100%;
    border: 2px solid #F2D215;
    }

th, td {
    padding: 10px;
}

table, th {
    border: 2px solid #F2D215;
    }

.to-be-bordered {
    border: 2px solid #F2D215;

}